.container {
  display: flex;
  flex-direction: column;

  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--Bg);
  color: var(--textColor);
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.container hr {
  margin-bottom: 30px;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  /* border: none;
  border-top: 1px solid #ccc; */
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form > div {
  margin-bottom: 10px;
}

.container label {
  font-weight: bold;
}

.container input,
.container select {
  margin-top: 2px;
  padding: 8px;
  background-color: var(--softBg);
  color: var(--textColor);
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.container button {
  padding: 10px 15px;
  border: none;
  width:70%;
  border-radius: 3px;
  background-color: red; /* Red color for the button */
  color: #fff;
  cursor: pointer;
}

.container button:hover {
  background-color: darkred; /* Darker red color on hover */
}

.toggle {
  margin-top: 10px;
  text-align: center;
  cursor: initial;
}

.link {
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}

.link:hover {
  color: var(--softTextColor);
  text-decoration: underline;
}

