.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  .title {
    margin-bottom: 20px;
    text-align: center;
  }

.container hr{
    margin-bottom: 30px;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    /* border: none;
    border-top: 1px solid #ccc; */
}

  .container form {
    display: flex;
    flex-direction: column;
  }
  
 .container form > div {
    margin-bottom: 10px;
  }
  
  .container label {
    /* padding-bottom: 15px;
    margin-bottom: 15px; */
    font-weight: bold;
  }
  
  .container input {

    padding: 8px;

    background-color: var(--softBg);
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  .container button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: red; /* Red color for the button */
    color: #fff;
    cursor: pointer;
  }
  
  .container  button:hover {
    background-color: darkred; /* Darker red color on hover */
  }
  
  .toggle {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    /* color: #007bff; */
  }
  
  .name{
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
  }

  .name:hover {
    color:var(--softTextColor);
    text-decoration: underline;
  }