.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg);
  z-index: 100;
  flex-wrap: wrap;
}

.text {
  color: var(--softTextColor);
  font-size: 0.875rem;
  margin-right: 20%;
  padding: 0.5rem 0.5rem;
}

.social {
  display: flex;
  gap: 0.5rem;
}

.button {
  font-size: 1rem;
  margin-right: 2%;
  border-color: var(--textColor);
  background-color: var(--bg);
  opacity: 0.8;
  color: var(--softTextColor);
  padding: 0.5rem 0.5rem;
  border-radius: 9999px;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--textColor);
  opacity: 1;
}

.button:active {
  transform: scale(0.95);
}

@media (max-width: 1280px) {
  .text {
    margin-right: 15%;
  }
}

@media (max-width: 1024px) {
  .text {
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .text {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .social {
    width: 100%;
    justify-content: space-around;
  }

  .button {
    flex: 1;
    text-align: center;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .text {
    font-size: 0.75rem;
  }

  .button {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}

@media (max-width: 490px) {
  .footer {
    padding: 0.5rem;
  }

  .text {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .button {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .social {
    gap: 0.25rem;
  }
}
