.getInTouchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--textColor);
  height: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.getInTouchContainer h2 {
  margin: 20px;
  font-size: 4rem;
  font-weight: 300;
}

.getInTouchContainer h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 300;
}

.Icon {
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 20px;
}


.contactDetails {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.contactDetails div {
  margin: 10px;
  max-width: 300px;
  padding: 20px;
}

.contactContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.contactInfo {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
  max-width: 400px;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 100%;
}

.contactInfo h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.contactForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}

.contactForm h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contactForm div {
  margin-bottom: 10px;
}

.contactForm label {
  display: block;
  margin-bottom: 5px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--softBg); /* Applied background color */
  color: var(--textColor); /* Applied text color */
}

.contactForm button {
  background-color: red;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.socialMediaIcons{
  display: flex;
  margin-top: 30px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  border-radius: 8px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .getInTouchContainer h2 {
    font-size: 1.5rem;
  }

  .getInTouchContainer h3 {
    font-size: 1.2rem;
  }

  .icon {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .contactDetails {
    flex-direction: column;
    align-items: center;
  }

  .contactDetails div {
    max-width: 90%;
  }
}
