.container {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e4ccff;
   /* Adjust as per the design */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 10px;
}
